body{
  background-color: #ccc;
}
table{
  width:60vw;
  height:60vh;
  margin: 0 auto;
}
td {
  border: 1px solid blue;
}

td:hover {
  background: orange;
}

table {
  border: 1px solid green;
}
@media screen and (min-width:768px){
  table{
    width:40rem;
    height:40rem;
  }
}
